body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: black;

  cursor: url('cursor.png'), default;
}

h1 {
  position: absolute;
  margin-top: 100px;

  left: 50%;
  transform: translateX(-50%);

  color: rgb(132, 113, 253);
  font-size: 50px;
  background-color: #07394d99;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 18px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
  
  cursor: url('cursor.png'), default;
}

.mail-button {
  position: absolute;
  margin-top: 300px;

  left: 35%;
  transform: translateX(-50%);
}

.linkedin-button {
  position: absolute;
  margin-top: 300px;

  left: 50%;
  transform: translateX(-50%);
}

.telegram-button {
  position: absolute;
  margin-top: 300px;

  left: 65%;
  transform: translateX(-50%);
}
