html,
body {
  background: rgb(4, 1, 26);

  overflow-y: auto;
  white-space: nowrap;
  
  cursor: url('assets/cursor/cursor.png') 20 20, auto;
}

body::-webkit-scrollbar {
  display: none;
}

.header-container {
  width: 100%;
}

.header {
  color: #fff;
  padding: 20px;
}

.button-container button {
  padding: 10px 20px; 
  margin-right: 10px; 
  border: none;
  background-color: rgb(4, 1, 26); 
  color: white;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;

  border-radius: 18px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  cursor: url('assets/cursor/cursor.png') 20 20, auto;
}

.title-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  overflow-x: auto;
  white-space: nowrap;

  cursor: url('assets/cursor/cursor.png') 20 20, auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 15px;
  margin-top: 80px;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  cursor: url('assets/cursor/select-cursor.png'), default;
}

.card:hover {
  transform: scale(1.08);
  color: rgb(117, 91, 193);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding-left: 10px;
  padding-right: 10px;
}

.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.collection {
  width: calc(33.33% - 10px);
  height: 140pt;
  background-color: #f0f0f0;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 8px;
}

.collection h3 {
  margin: 0;
  font-size: 18px;
}

.collection h4 {
  text-align: center;
}

.collection p {
  text-align: center;
  white-space: wrap;

  margin-top: 5px;
  font-size: 14px;
}

.button {
  position: absolute;
  margin-top: 80px;
  transform: translateX(-50%);

  cursor: url('assets/cursor/select-cursor.png'), default;
}

.contact-button-container {
  padding-bottom: 250px;
}

.mail-button {
  left: 35%;
}

.linkedin-button {
  left: 50%;
}

.telegram-button {
  left: 65%;
}
